@CHARSET "ISO-8859-1";

.Laborblatt{
	clear: both;
	padding: 10px;
	float: bottom;
	border-width:2px;
	border-style:solid;
	display: block;
}

.LaborblattNav {
	background-color: black;
	float: left;
	display: inline;
	margin: 10px;
	border: 1px;
	border-style:solid;
}

.LaborblattSelected {
	background-color: #7bff7d;
	color: black;
	margin: 10px;
	border: 1px;
	border-style:solid;
}

.userimage {
	
}

#container {
		clear: both;
}

#links {
		display: inline;
}

#rechts {
	float: right;
	display: inline;
}

#aufgabenGeloest {
	float: right;
}

#accordion .ui-accordion-content {
	background: #000000;
	color: #7bff7d;
}

#accordion .ui-accordion-header {
	background: #2a2a2a;
	color: #7bff7d;
}