@CHARSET "ISO-8859-1";

.Laborblatt{
	clear: both;
	padding: 10px;
	float: bottom;
	border-width:2px;
	border-style:solid;
	display: block;
}

.LaborblattNav {
	background-color: black;
	float: left;
	display: inline;
	margin: 10px;
	border: 1px;
	border-style:solid;
}

.LaborblattSelected {
	background-color: #7bff7d;
	color: black;
	margin: 10px;
	border: 1px;
	border-style:solid;
}

.userimage {
	float: right;
	margin-right: 500px;
}